/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body{
    background-color: white;
    color: #333;
    top: 0;
    margin: 0;

    }

#header{
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    min-height: 70px;
    top: 0;
    margin-top: -17px;

}


.nav{
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nav .logo {
    width: 20%;
    float: left;
    height: 100%;

}

.nav .bar{
    width: 10%;
    float: right;
    background: #F1F1F1;
    background: -moz-linear-gradient(#F1F1F1,#E0E0E0);
    background: -webkit-linear-gradient(#F1F1F1,#E0E0E0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')";
    border: 1px solid #DDD;
    padding: 5px;
    padding-left: 14px;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 0 #fafafa,inset 0 1px 0 #fafafa;
}


#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    min-height: 500px;
    padding: 30px;
    text-align: justify;


}

#footer img{
    width: 100px;
}

