/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body{
    background-color: white;
    color: #333;
    top: 0;
    margin: 0;

    }

#header{
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    min-height: 70px;
    top: 0;
    margin-top: -17px;
}

a {
    color: #09C;
    text-decoration: none;
}

.nav{
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 20%;
    margin-left: 10%;
    float: left;
    height: 100%;

}

nav {
    float: right;
    background: white;
    margin-right: 10%;
    white-space: nowrap;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.3em 0px;
    margin: 10px 7px -5px;
}

nav ul li a {
    padding: 0 0.5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

.bar{
    font-size: 14px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);

}


#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    min-height: 500px;
    padding: 30px;
    text-align: justify;


}

<<<<<<< HEAD

/* Footer */

#footer {
    border-top: 1px solid #CCC;
    text-align: center;
}

=======
#footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#footer .desarrollo{
    float: left;
    color: #dcdcdc;

}

#footer .aliados  {
    color: #d3d3d3;
    float: right;
}
>>>>>>> 67a61c4c80633483d3c49bcc61b29e6ee269c38e
#footer img{
    width: 100px;
}


/* Mensajes flash */
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
