<div class="desarrollo">

  <h4>Desarrollado por:</h4>
  <ul>
    <li>SPS ltda</li>
    <li>RMS-Team</li>
  </ul>
</div>
<div class="aliados">
  <h4>Aliados</h4>
  <%= image_tag("pse.gif") %>
  <%= image_tag("verisign.jpg") %>
</div>
