<h1>Control#new</h1>
<p>Voy a mandar 3 y 8</p>
<% respuesta = @client.request :web, :codigos %>
Hola!! <%= @client.wsdl.soap_actions %>
<br />
<br />
<br />ere
<%
   if respuesta.success?
     r = respuesta.to_array(:codigos_response).first
   end
%>
<% if r %>
    <br />El resultado es <% r[:return].each do |code| %>
        <br /><%= code %>
    <% end %>
<% end %>


