<h1>Banca Eletrónica Facil</h1>


<p>Este es un proyecto realizado para la materia Proyecto Integrador II</p>

<p>El uso de la Banca Electrónica ha venido popularizándose no solamente
  en el sector bancario tradicional sino en el sector financiero Cooperativo,
  convirtiéndose en un canal fundamental de diferenciación en la entrega de
  sus productos y servicios financieros.
</p>
<p>
  Este canal no solo beneficia a los clientes y asociados, por la conveniencia
  en la oportunidad y ubicuidad de la prestación del servicio, sino que también favorece
  a las instituciones financieras Cooperativas en aspectos tales el mejoramiento de la
  competitividad, el aumento de la fidelización de los asociados, fortalecimiento de la
  imagen y la reducción manifiesta de los costos administrativos y operativos con
  respecto a los canales tradicionales.
</p>

<h1>Proyecto realizado por</h1>
<ul>
  <li>Juan Sebastian Velez Posada</li>
  <li>Rubén Espinosa Roldán</li>
  <li>James Rodriguez Turízo</li>
</ul>

<p>El proyecto esta alojado en <%= link_to 'GitHub.com', "https://github.com/jvelezpo/SoapWebService",:target => "_blank" %></p>

<h3>Tecnologías Utilizadas</h3>

<ul>
  <li>Java</li>
  <li>Glassfish</li>
  <li>DB2</li>
  <li>Ruby & Ruby on Rails</li>
  <li>Git & GitHub</li>
  <li>Assembla</li>

</ul>
